# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
ENV/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled / temporary files
*.log
*.tmp
*.bak

# ----------------------------
# Data files
# ----------------------------
# Ignore everything inside the data folders
data/With EDM/*
data/Without EDM/*
outputs/Without EDM/*.png
outputs/With EDM/*.png

# ----------------------------
# IDE / OS specific files
# ----------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ----------------------------
# Misc
# ----------------------------
*.sqlite3
*.db
*.lock
*.swp

# ----------------------------
# Always keep .gitkeep files
# ----------------------------
!.gitkeep